*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.btn-1{
  margin:200px;
  display: flex;
  justify-content: center;
  
}

.btn-2{
  
  width: 200px;
  height:70px;
  border-radius:8px;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  
  
}

